<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/student_view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1 class="stu_name">
            Ogunbode Opeyemi
        </h1>
    </header>
    <div class="stu_addr">
        <p>School 1</p>
    </div>
    <div class="search">
        <input type="text" placeholder="search student" class="search_box">
    </div>
    <div class="container">
        <div class="upper_page">
            <div class="left_container">
                <div class="sch_selector">
                    <div class="selector" id="sch_sel">
                        <h4>School 1</h4>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="dropdown" id="sch_drop">
                        <p>School 1</p>
                        <p>School 2</p>
                        <p>School 3</p>
                        <p>School 4</p>
                    </div>
                </div>
            </div>
            <div class="middle_container">
                <div class="stu_info">
                    <div class="stu_text">
                        <h5>Student name: <span>Ogunbode Opeyemi</span></h5>
                        <h5>Student address: <span>King's Court estate Shahsa.<span></span></h5>
                        <h5>Student ID: <span>5682-ay65-47yg</span></h5>
                        <h5>Age: <span>23</span></h5>
                        <h5>Class: <span>Primary</span></h5>
                        <h5>Fees paid: <span>NGN 37,000 / 40,000</span></h5>
                        <h1>95%</h1>
                    </div>
                    <div class="stu_percent_bar">
                        <div class="stu_bar"></div>
                    </div>
                </div>
            </div>
            <div class="right_container">
                <div class="cls_selector">
                    <div class="selector" id="cls_sel">
                        <h4>Primary 1</h4>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="dropdown" id="cls_drop">
                        <p>Primary 1</p>
                        <p>Primary 2</p>
                        <p>Primary 3</p>
                        <p>Primary 4</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower_page">
            <div class="lower_text">
                <h2>...</h2>
            </div>
            <div class="students hide_cards">
                <div class="student"><h4>Ogunbode Opeyemi</h4></div>
                <div class="student"><h4>Onyemari Caleb</h4></div>
                <div class="student"><h4>Adebayo Oluwatosin</h4></div>
                <div class="student"><h4>Farombi Folajimi</h4></div>
                <div class="student"><h4>Ororo Samuel</h4></div>
                <div class="student"><h4>Olusesi Samuel</h4></div>
                <div class="student"><h4>Osota Olanrewaju</h4></div>
                <div class="student"><h4>Ogunbode Femi</h4></div>
                <div class="student"><h4>Huncho Alfa</h4></div>
                <div class="student"><h4>Adebayo Teslima</h4></div>
                <div class="student"><h4>Adeduro Isreal</h4></div>
                <div class="student"><h4>Oke Olamide</h4></div>
                <div class="student"><h4>Igbalaye Dolapo</h4></div>
                <div class="student"><h4>Babatunde Fisope</h4></div>
                <div class="student"><h4>Kolawole Philip</h4></div>
                <div class="student"><h4>Osonuga Teniola</h4></div>
                <div class="student"><h4>Adeniji Peace</h4></div>
                <div class="student"><h4>Adeniji Praise</h4></div>
                <div class="student"><h4>Akinde Oladayo</h4></div>
                <div class="student"><h4>Akinde Kemi</h4></div>
                <div class="student"><h4>Omisore Opemipo</h4></div>
                <div class="student"><h4>Adegoroye Anike</h4></div>
                <div class="student"><h4>Olaiya Fareed</h4></div>
            </div>
        </div>
    </div>
    <script src="../static/scripts/base_view.js"></script>
</body>
</html>